<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>{{test}}</h1>
    <h1>{{name}}</h1>
    <div style="width: 630px">
      <img src="{{user_image}}" alt="user _ image " width="50%" height="40%" />
    </div>
  </body>
</html>

<!-- test = face_recognition.load_image_file(full_filename)
            test = cv2.cvtColor(test,cv2.COLOR_BGR2RGB)
            print("-----------"+full_filename)
            for i,file in enumerate(os.listdir("./uploads")):
                print(file) -->
